<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>This is Contract Page!</h1>
        <br />
        <h1>------------Contract Page</h1>
        <h1><a href="/">Home</a></h1>
        <h1><a href="/template_filtering/">App</a></h1>
        <h1><a href="/template_filtering/about/">About</a></h1>
        <h1><a href="/template_filtering/contract/">Contract</a></h1>
        <h1><a href="/template_filtering/filtering/">Filtering Practice Page</a></h1>
    </body>
</html>
