{% extends 'base.html'%} {% load crispy_forms_tags %} {% block content %}

<form method="post" class="w-50 m-auto" novalidate>
    <h1 class="d-flex justify-content-center my-5">Password Change Page</h1>
    {% csrf_token %}
    {% if form.non_field_errors %} {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {% endfor %} {% endif %}

    {{form | crispy}}

    <br />
    <button class="btn btn-warning" type="submit">Change Password</button>
</form>
{% endblock content %}
