{% extends "base.html" %} {% block content %}

{% if messages %}
{% for m in messages %}
    <h2 class="text-success text-center mt-3">{{m}}</h2>
{% endfor %}
{% endif %}

<h1 class="d-flex justify-content-center my-5">Welcome to my Profile Page!</h1>

<div class="text-center mt-5 gap-3">
    <a class="btn btn-info" href="{% url 'password_change' %}"
        >Change password with previous Password</a
    >
    <a class="btn btn-warning" href="{% url 'password_change_wp' %}"
        >Change password without previous Password</a
    >
</div>
{% endblock content %}
