{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %} 

{% if messages %}
{% for m in messages %}
    <h2 class="text-success text-center mt-3">{{m}}</h2>
{% endfor %}
{% endif %}

<h1 class="d-flex justify-content-center my-5">Wellcome to the Signup Page!</h1>
<form method="post" class="w-50 m-auto" novalidate>

    {% csrf_token %} {{form | crispy}}
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
    <small>
        Already have an account <a href="{% url 'login' %}">Login</a></small
    >
</form>
{% endblock content %}
